
.navbar {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 24;
    font-weight: bold;
    /* font-family: ; */
    position: fixed;
    top: 29px;
    left: 35px;
    right: 121px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
  }
  
  .nav-links {
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    color: black;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .nav-item:hover {
    color: #E2E8F0; /* Tailwind's gray-300 */
  }
  
  .search-signup {
    display: flex;
    align-items: center;
    gap: 16px;
    height:40px;
  }
  
  .search-container {
    position: relative;
  }

  
  .search-input {
    background-color: #D6BCFA; /* Tailwind's purple-300 */
    color: black;
    padding: 8px 16px;
    border-radius: 9999px;
    border: none;
    outline: none;
    width: 360px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    color: black;
  }
  
  .signup-button {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 136px;
  }
  
  .signup-button:hover {
    background-color: #2D3748; /* Tailwind's gray-800 */
  }
  
.w3 {
  color: black;
  margin: 25%;
}

.w3:hover {
  color: white;
}

.w3 :focus {
  color: white;
}

/* Container for dropdown */
.icon-container {
  position: relative;
  display: flex;
}

/* Profile dropdown styling */
.profile-dropdown {
  position: absolute;
  top: 40px;
  /* Adjust depending on your design */
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
}

.dropdown-item {
  display: block;
  padding: 10px 20px;
  color: black;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
.profile-dropdown h4 {
  align-content: center;
}

#profile-name:hover {
  background-color: initial;
}

.logo {
  height: 40px;
  align-items: left;
  transform: translateY(20%);
}